.search-icon {
    position: absolute;
    top: 0.55rem;
    left: 1.43rem;
}
.nav-search::placeholder {
    color: #B3B1B1;
    font-size: 1rem;
    font-weight: 500;
}
li {
    
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}
li a {
    color: #EFE7DA !important;
}

li a:hover {
    color: #cdccca !important;
}

li a:focus {
    background-color: #8B8B8B;
}
.pointer {
    cursor: pointer;
}
.formRange {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background-color: #535353;
    height: 15px;
    border-radius: 16px;
}
.formRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: -810px 0 0 800px #AEAEAE;
    border: 2px solid #AEAEAE;
    background: #FFFFFF;
    cursor: pointer;
    z-index: -1;
}
.card img {
    height: 340.42px;
}
.footer-link {
    color: #7D7D7D;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    padding: .5rem;
    transition: color 0.3s ease;
}
.footer-link:hover {
    color: #B3B1B1;
}
@media (max-width: 992px) {
    .lis {
        flex-direction: column;
    }
    .first-line {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
    }
}