* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.search-icon {
    position: absolute;
    top: 0.55rem;
    left: 1.43rem;
}
.nav-search::placeholder {
    color: #b3b1b1;
    font-size: 1rem;
    font-weight: 500;
}
li {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}
li a {
    color: #efe7da !important;
}
li a:hover {
    color: #cdccca !important;
}
li a:focus {
    background-color: #8b8b8b;
}
.pointer {
    cursor: pointer;
}
.formRange {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background-color: #535353;
    height: 15px;
    border-radius: 16px;
}
.formRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: -810px 0 0 800px #aeaeae;
    border: 2px solid #aeaeae;
    background: #ffffff;
    cursor: pointer;
    z-index: -1;
}
.formRange::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: -810px 0 0 800px #aeaeae;
    border: 2px solid #aeaeae;
    background: #ffffff;
    cursor: pointer;
    z-index: -1;
}
.card .card-img-top {
    height: 340.42px;
}
.footer-link {
    color: #7d7d7d;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem;
    transition: color 0.3s ease;
}
.footer-link:hover {
    color: #b3b1b1;
}
@media (max-width: 992px) {
    .lis {
        flex-direction: column;
    }
    .first-line {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
    }
}