* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    position: relative;
    display: flex;
    background-color: #F0EFEE;
    padding-top: 9.0625rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9.0625rem;
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;
    padding: 2.25rem 10.67rem 1.75rem 12.56rem;
    background-color: #222222;
}

.nav-center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-search {
    min-width: 49.11375rem;
    height: 2.3125rem;
    flex-grow: 1;
    color: #363636;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2.84rem;
    border-radius: 6rem;
    border: 1px solid #12264A;
    background: #F5F5F5;
    outline: none;
}

.nav-search::placeholder {
    color: #B3B1B1;
    font-size: 1rem;
    font-weight: 500;
}

.search-icon {
    position: absolute;
    top: 0.69rem;
    left: 1.43rem;
}

.nav-center ul {
    display: flex;
    min-width: 29.58131rem;
    align-items: flex-start;
    gap: 1.5rem;
    color: #EFE7DA;
    padding-top: 1.25rem;
    flex-grow: 1;
}

.nav-center li {
    color: #EFE7DA;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}
